<article>
    <div class="myContainer">
    <div class="logo">
      <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#f8f8f8"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
    </div>

        <div class="row">
        <div class="col-2">
            <h1><b>3D LETTER UNVEILING SURFACE</b></h1>
            <h4>Veja abaixo o autor desse belo vídeo de fundo</h4>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.74 131.48">
        <defs>
            <style>
            .cls-1, .cls-2 {
                fill: #fff;
            }

            .cls-2 {
                font-size: 21px;
            }

            .cls-3 {
                letter-spacing: 0.01em;
            }
            </style>
        </defs>
        <title>Sem título-1</title>
        <g id="camera">
            <path class="cls-1" d="M134.59,9.13a2.9,2.9,0,0,0-2.84-.05L100.63,25.86V16.12A14.13,14.13,0,0,0,86.53,2H16.36A14.13,14.13,0,0,0,2.26,16.12V71.88A14.13,14.13,0,0,0,16.36,86H86.27a14.29,14.29,0,0,0,14.36-14.19V61.93l31.12,16.78a2.9,2.9,0,0,0,2.84,0A2.83,2.83,0,0,0,136,76.22V11.57A2.84,2.84,0,0,0,134.59,9.13ZM95.1,72a8.49,8.49,0,0,1-8.48,8.5H16.27A8.49,8.49,0,0,1,7.79,72V16a8.5,8.5,0,0,1,8.48-8.5H86.63A8.5,8.5,0,0,1,95.11,16Zm35.37-.39L101.74,55.89V33.16l28.73-15.68Z" transform="translate(-2.26 -2)"/>
        </g>
        <g id="text">
            <text class="cls-2" transform="translate(5.38 101.03)"><tspan class="cls-3">M</tspan><tspan x="17.03" y="0">y small </tspan><tspan x="0" y="25.2">video</tspan></text>
        </g>
        </svg>
            <h4>Essa é uma página web que fiz usando um vídeo de fundo</h4>
        </div>
    </div>

    <div class="mt-5 row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col-6">-</div>
        <div class="col">
            <img class="iconGitHub" src="/images/github.svg" alt="myGuitHub">
        </div>
    </div>
    </div>
<video autoplay muted loop id="myVideo">
  <source src="/video/3864190.mp4" type="video/mp4">
</video>
   
</article>

  