<article>
    <div class="myContainer">
        <div class="row">
        <div class="col-3">
            <h1><b>VÍDEO NO PLANO DE FUNDO</b></h1>
            <p>Essa é uma boa oportunidade de testar esse recurso bem chamativo</p>
            <div class="areaAuthor">
                <img class="imgAuthor" src="/images/1251932.jpg" alt="O criador desse site">
                <a class="mya" href="https://www.instagram.com/LuizAugusto9900/?hl=pt-br"  target="_black">LuizAugusto9900</a>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="mt-4 col-2">
           <svg id="videoSvg" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 279 194"><defs><style>.cls-1,.cls-2{fill:#f9f9f9;}.cls-2{font-size:17px;}.cls-3{letter-spacing:0em;}.cls-4{letter-spacing:0.02em;}.cls-5{letter-spacing:-0.03em;}.cls-6{letter-spacing:-0.04em;}</style></defs><title>Sem título-1</title><path class="cls-1" d="M278.11,14.91a3.86,3.86,0,0,0-3.82-.07L232.46,37.67V24a19.33,19.33,0,0,0-19.3-19.31H117A19.34,19.34,0,0,0,97.73,24v76.24A19.33,19.33,0,0,0,117,119.52h96.12a19.33,19.33,0,0,0,19.3-19.31V86.76l41.83,22.83A3.85,3.85,0,0,0,280,106.2v-88A3.85,3.85,0,0,0,278.11,14.91Zm-53.37,85.3a11.6,11.6,0,0,1-11.59,11.59H117a11.6,11.6,0,0,1-11.59-11.59V24A11.6,11.6,0,0,1,117,12.39h96.12A11.59,11.59,0,0,1,224.74,24Zm47.54-.51L232.46,78V46.47l39.82-21.73Z" transform="translate(-1 -2)"/><text class="cls-2" transform="translate(96.92 140.84)">P<tspan class="cls-3" x="9.04" y="0">R</tspan><tspan x="18.24" y="0">OJ</tspan><tspan class="cls-4" x="36.24" y="0">E</tspan><tspan class="cls-5" x="44.88" y="0">T</tspan><tspan x="52.87" y="0">O</tspan><tspan class="cls-6" x="64.58" y="0"> </tspan><tspan x="67.57" y="0">VÍDEO </tspan><tspan x="0" y="20.4">NO FUNDO</tspan></text><g id="_1" data-name="1"><path class="cls-1" d="M78,166V2H46L44.83,5.19c-3,8.43-8.73,16-17,22.35C19.35,34.18,11.43,38.72,4.32,41.05L1,42.13V79l6.32-2.09A108.17,108.17,0,0,0,39,60.36V166Z" transform="translate(-1 -2)"/></g></svg>
            <h5>Essa é uma página web que fiz usando um vídeo de fundo</h5>
        </div>
    </div>

    <div class="mt-5 row">
        <div class="col">
           
        </div>
        <div class="col-6">-</div>
        <div class="col">
            <a href="https://github.com/LuizAuGFer/video-background-full-page" target="_black">
                 <img class="iconGitHub" src="/images/logotipo-do-github.svg" alt="myGuitHub">
            </a>
        </div>
    </div>
    </div>
<video autoplay muted loop id="myVideo">
  <source src="/video/2658715.mp4" type="video/mp4">
</video>
   
</article>

  