<article>
    <div class="myContainer">
        <div class="row">
        <div class="col-2">
            <!--
            <img class="mb-5" src="#" alt="logo">
            -->
            <h1><b>3D LETTER UNVEILING SURFACE</b></h1>
            <h4>Veja abaixo o autor desse belo vídeo de fundo</h4>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
            <p>
                <h1>1</h1><svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-camera-video" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                </svg>
            </p>    
            <h5>Small vídeo</h5>
            <h4>Essa é uma página web que fiz usando um vídeo de fundo</h4>
        </div>
    </div>

    <div class="mt-5 row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col-6">-</div>
        <div class="col">
            <img class="iconGitHub" src="/images/github.svg" alt="myGuitHub">
        </div>
    </div>
    </div>
<video autoplay muted loop id="myVideo">
  <source src="/video/3864190.mp4" type="video/mp4">
</video>
   
</article>

  